@use '../../global-styles/variables.scss' as v;

.catalog__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 45px 20px 45px;

  @media screen and (max-width: v.$width-576) {
    padding: 15px 25px;
  }
}

.catalog__title {
  margin-bottom: 20px;

  @media screen and (max-width: v.$width-576) {
    margin-bottom: 15px;
  }
}

.catalog__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(205px, 1fr));
  gap: 25px;
  margin-bottom: 20px;

  @media screen and (max-width: v.$width-1024) {
    grid-template-columns: repeat(3, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$width-768) {
    grid-template-columns: repeat(2, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$width-576) {
    grid-template-columns: repeat(1, minmax(205px, 1fr));
    gap: 15px;
  }
}

.catalog__more {
  display: none;

  @media screen and (max-width: v.$width-1024) {
    width: 100%;
    min-height: 49px;
    margin: 25px 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.catalog__button {
  display: none;

  @media screen and (max-width: v.$width-1024) {
    display: block;
    padding: 10px 20px;
    width: 300px;
    background-color: v.$accent1;
    border-radius: 7px;
    height: 100%;

    font-weight: 500;
    font-size: 20px;
    letter-spacing: -1.8px;
    line-height: 29px;
    color: v.$white;
  }
}

// ----- special states ----- 
.catalog__button {
  @media screen and (min-width: v.$width-768) {
    &:hover {
      background-color: rgba(v.$accent1, 0.85);
    }
  }
}
