@use '../../global-styles/variables.scss' as v;

.catalog__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 45px 45px 45px;

  @media screen and (max-width: v.$width-576) {
    padding: 5px 25px;
  }
}

.catalog__title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.catalog__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(205px, 1fr));
  gap: 25px;

  @media screen and (max-width: v.$width-1024) {
    grid-template-columns: repeat(3, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$width-768) {
    grid-template-columns: repeat(2, minmax(205px, 1fr));
  }

  @media screen and (max-width: v.$width-576) {
    grid-template-columns: repeat(1, minmax(205px, 1fr));
  }
}