$maxWidth: 1440px;
$desktopWidth: 1023px;
$tabletWidth: 767px;
$mobileWidth: 576px;

// -------- colors -----------
$white: #ffffff;
$black: #1F1F20;

$accent1: #ffa500;
$accent2: #454EEC;
$accent3: #3483eb;

$background-light-primary: #FFFFFF;
$background-light-minor1: #F9F9FC;
$background-light-minor2: #F3F3F8;
$background-light-minor3: #D3D3D3;

$text-major: #1F1F20;
$text-minor: #64696C;
$text-accent: #454EEC;

$transition: all 0.3s ease;

$box-shadow1: 0px 0px 14px rgba(0, 0, 0, 0.1);
$box-shadow2: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
