$width-1024: 1024px;
$width-768: 768px;
$width-576: 576px;

$white: #ffffff;
$accent1: #ffa500;
$accent2: #454EEC;
$background-light-primary: #FFFFFF;
$text-major: #1F1F20;
$box-shadow1: 0px 0px 14px rgba(0, 0, 0, 0.1);
$box-shadow2: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

$transition: all 0.3s ease;
